// 存储额外的css

/* 
在独立小窗取消属性面板的底色
siyuan://blocks/20250205200123-bvfkrur
*/

.body--window {
    .layout__center .mux-doc-heading-attr-panel .fn__flex-column {
        background-color: unset;
    }
}

// 显示批注
[custom-mux-protyle-annotation],
[data-type~=mux-protyle-annotation] {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #65b84d;
    text-decoration-thickness: 2px;
}

.mux-protyle-annotation.protyle-util {
    padding: 0;
}
