name: CD For SiYuan

on:
  push:
    tags:
      - '*-dev*'  # 当推送的标签匹配*-dev*时触发，例如 v3.1.10-dev6
    branches:
      - '**'  # 监听所有分支的推送
    paths-ignore:
      - '**.md'  # 忽略markdown文件的变更
  workflow_dispatch:  # 手动触发

# ref https://docs.github.com/zh/actions/learn-github-actions/variables
env:
  repo_name: "siyuan"  # 仓库名称
  repo_owner: "TransMux"  # 仓库所有者
  package_json: "app/package.json"  # package.json文件路径
  repo_name_android: "siyuan-android"  # 安卓项目仓库名（请根据实际仓库名修改）
  android_gradle_build_output: "app/build-release/"  # APK 输出目录（根据你的 Android 项目结构调整）
  android_gradle_build_params: "assembleOfficialAction -profile --quiet --stacktrace"  # Gradle 构建任务（如需多渠道请改为相应任务）

jobs:
  check-commit:
    runs-on: ubuntu-latest
    outputs:
      should-build: ${{ steps.check.outputs.should-build }}
    steps:
      - name: Check commit message
        id: check
        run: |
          if [[ "${{ github.event.head_commit.message }}" == *"build"* ]]; then
            echo "should-build=true" >> $GITHUB_OUTPUT
          else
            echo "should-build=false" >> $GITHUB_OUTPUT
          fi

  build:
    needs: check-commit
    if: needs.check-commit.outputs.should-build == 'true' || github.event_name == 'workflow_dispatch' || startsWith(github.ref, 'refs/tags/')
    runs-on: ${{ matrix.config.os }}  # 在矩阵配置的操作系统上运行
    name: ${{ matrix.config.name }}  # 矩阵配置的名称
    strategy:
      matrix:
        config:
          - os: windows-latest
            name: windows build win.exe
            kernel_path: "../app/kernel/SiYuan-Kernel.exe"
            build_args_prefix: "-s -w -H=windowsgui -X"
            build_args_suffix: "Mode=prod"
            electron_args: "dist"
            goos: "windows"
            gobin: "bin"
            mingwsys: "MINGW64"
            goarch: "amd64"
            suffix: "win.exe"

    steps:
      - uses: actions/checkout@v4  # 检出代码
        with:
          path: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}

      - name: Set up MingGW  # 设置MingGW
        uses: msys2/setup-msys2@v2
        if: "contains( matrix.config.goos, 'windows')"
        with:
          install: p7zip mingw-w64-x86_64-lua

      - name: Set up Go  # 设置Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/kernel/go.mod
      - run: go version

      - name: Set up goversioninfo  # 设置goversioninfo
        run: go get github.com/josephspurrier/goversioninfo/cmd/goversioninfo && go install github.com/josephspurrier/goversioninfo/cmd/goversioninfo
        if: "contains( matrix.config.goos, 'windows')"
        working-directory: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/kernel
        env:
          GO111MODULE: on
          CGO_ENABLED: 1
          GOOS: ${{ matrix.config.goos }}
          GOPATH: ${{ github.workspace }}/go
          GOARCH: ${{ matrix.config.goarch }}

      - name: Set up Node  # 设置Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Node pnpm  # 安装Node pnpm
        run: npm install -g pnpm
        working-directory: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app

      - name: Install Node Dependencies  # 安装Node依赖
        run: pnpm install --no-frozen-lockfile
        working-directory: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app

      - name: Building UI  # 构建UI
        run: pnpm run build
        working-directory: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app

      - name: Remove Build Directory
        uses: JesseTG/rm@v1.0.2
        with:
          path: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app/build

      - name: Remove Kernel Directory for Linux
        uses: JesseTG/rm@v1.0.2
        with:
          path: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app/kernel-linux

      - name: Remove Kernel Directory for Windows
        uses: JesseTG/rm@v1.0.2
        with:
          path: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app/kernel

      - name: Remove Kernel Directory for macOS
        uses: JesseTG/rm@v1.0.2
        with:
          path: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app/kernel-darwin

      - name: Remove Kernel Directory for macOS ARM64
        uses: JesseTG/rm@v1.0.2
        with:
          path: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app/kernel-darwin-arm64

      - name: Generate Icon Resource and Properties/Version Info For Windows  # 为Windows生成图标资源和属性/版本信息
        run: ${{ github.workspace }}\go\${{ matrix.config.gobin }}\goversioninfo -platform-specific=true -icon="resource\icon.ico" -manifest="resource\goversioninfo.exe.manifest"
        if: "contains( matrix.config.goos, 'windows')"
        working-directory: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/kernel
      
      - name: Building Kernel  # 构建内核
        run: go build --tags fts5 -o "${{ matrix.config.kernel_path }}" -v -ldflags "${{ matrix.config.build_args_prefix }} github.com/${{ env.repo_owner }}/${{ env.repo_name }}/kernel/util.${{ matrix.config.build_args_suffix }}"
        working-directory: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/kernel
        env:
          GO111MODULE: on
          CGO_ENABLED: 1
          GOOS: ${{ matrix.config.goos }}
          GOPATH: ${{ github.workspace }}/go
          GOARCH: ${{ matrix.config.goarch }}

      - name: Building Electron App
        run: pnpm run ${{ matrix.config.electron_args }}
        working-directory: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app

      - name: List build directory  # 列出构建目录
        run: Get-ChildItem -Recurse -Force ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app/build/
        shell: pwsh

      - name: Upload build artifact  # 上传构建产物
        uses: actions/upload-artifact@v4
        with:
          name: siyuan-${{ matrix.config.suffix }}  # 产物名称
          path: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}/app/build/*${{ matrix.config.suffix }}  # 产物路径

      - name: Report Build Success  # 报告构建成功
        run: |
          curl -d "SiYuan Build successful!" "${{ secrets.PUSH_SERVICE_URL }}"
        shell: bash
        continue-on-error: true

  android-apk:
    needs: check-commit
    if: needs.check-commit.outputs.should-build == 'true' || github.event_name == 'workflow_dispatch' || startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    name: android build apk
    steps:
      - uses: actions/checkout@v4
        with:
          path: ${{ github.workspace }}/go/src/github.com/${{ env.repo_owner }}/${{ env.repo_name }}

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
          overwrite-settings: true

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.0

      - name: Install Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r25b
          add-to-path: true

      - name: Checkout android repo
        uses: actions/checkout@v4
        with:
          repository: ${{ env.repo_owner }}/${{ env.repo_name_android }}
          path: ${{ github.workspace }}/${{ env.repo_owner }}/${{ env.repo_name_android }}

      - name: Build with Gradle
        working-directory: ${{ github.workspace }}/${{ env.repo_owner }}/${{ env.repo_name_android }}
        run: |
          chmod +x ./gradlew
          ./gradlew ${{ env.android_gradle_build_params }}

      - name: Upload unsigned APK(s) to artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-apk-unsigned
          path: |
            ${{ github.workspace }}/${{ env.repo_owner }}/${{ env.repo_name_android }}/${{ env.android_gradle_build_output }}/*.apk

      - name: Sign APK (optional)
        id: sign_app
        uses: noriban/sign-android-release@v5
        with:
          releaseDirectory: ${{ github.workspace }}/${{ env.repo_owner }}/${{ env.repo_name_android }}/${{ env.android_gradle_build_output }}
          signingKeyBase64: ${{ secrets.APK_SIGN_KEY_JKS_BASE64 }}
          alias: ${{ secrets.APK_SIGN_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.APK_SIGN_KEY_JKS_PW }}
          keyPassword: ${{ secrets.APK_SIGN_KEY_PW }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: Upload signed APK(s) to artifact
        if: steps.sign_app.outcome == 'success'
        uses: actions/upload-artifact@v4
        with:
          name: android-apk-signed
          path: |
            ${{ steps.sign_app.outputs.signedReleaseFile0 }}
            ${{ steps.sign_app.outputs.signedReleaseFile1 }}
